## CRT Day 1

In [2]:
# for printing the keywords in python

import keyword as k
print(k.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Conditions for creating a variable

- A variable cannot start with a digit 
- No special characters
- A keyword should not be used as a variable
- No spaces are allowed in between the variables

- C language accepts ASCII values.There are 128 characters (0-127)
- C++ language accepts extended ASCII values.Threr are 256 characters
- The languages like python, java,C#,html uses unicode values

- The ASCII values of telugu letters starts from 3077

## Datatypes in Python

- Numerical
  - int
  - float
  - complex
- Boolean
  - True
  - False
- Text
  - str
- Sequence
  - range
  - list
  - tuple
- Set
  - set
  - frozenset
- Binarytype
  - Bytes
  - Bytearray
  - memoryview

## Types of forms in int

- Base 10 -> The values can be formed from 0-9
- Base 2 -> The values are from 0-1
- Base 8 -> The values are from 0-7
- Base 16 -> The vales are from 0-9 and A to F

In [17]:
# Printing the telugu alphabets in python
for i in range(3077,3200):
    print(chr(i))

అ
ఆ
ఇ
ఈ
ఉ
ఊ
ఋ
ఌ
఍
ఎ
ఏ
ఐ
఑
ఒ
ఓ
ఔ
క
ఖ
గ
ఘ
ఙ
చ
ఛ
జ
ఝ
ఞ
ట
ఠ
డ
ఢ
ణ
త
థ
ద
ధ
న
఩
ప
ఫ
బ
భ
మ
య
ర
ఱ
ల
ళ
ఴ
వ
శ
ష
స
హ
఺
఻
఼
ఽ
ా
ి
ీ
ు
ూ
ృ
ౄ
౅
ె
ే
ై
౉
ొ
ో
ౌ
్
౎
౏
౐
౑
౒
౓
౔
ౕ
ౖ
౗
ౘ
ౙ
ౚ
౛
౜
ౝ
౞
౟
ౠ
ౡ
ౢ
ౣ
౤
౥
౦
౧
౨
౩
౪
౫
౬
౭
౮
౯
౰
౱
౲
౳
౴
౵
౶
౷
౸
౹
౺
౻
౼
౽
౾
౿

# Comments
- The comments are non-executable code
- the comments do not store utilize any memory space
- First multiline string which were written in any function or class is called a doc string

In [20]:
# For accessing the doc string in python 

def aits():
    ''' My name is nikhil '''
    pass
print(aits.__doc__)

 My name is nikhil

In [22]:
# For finding the location of the variable

name="N"
print(id(name))

140732518177456

### Naming convension

- CamelCase
  - Example: myVariableName
  - Use in languages like JavaScript,Java and C# for variables
- PascalCase
  - Example: MyClass
  - Use in languages like C#, Java for class names
- UPPERCASE
  - Example: MY_CONSTANT
  - Often used for constants on languages like C and C++


- In python there is no constant keyword. Instead we use UPPERCASE variable

# Operators 

- Arithmetic
  - Addition(+)
  - Subtraction(-)
  - Multiplication(*)
  - Division(/)
  - Floor division(//)
  - Modular division(%)
- Logical
  - Logical AND
  - Logical OR
  - Logical NOT
- Bitwise
- Relational or comparision
  - Greater than(>)
  - less than(<)
  - Equal to(==)
  - less than or equal to(<=)
  - greater than or equal to(>=)
  - not equal(=!)
- Assignment (-=,+=,*=,/=,//=,%=)
- Membership operator
  - in , not in
- Identity operator

In [34]:
a=~-6
print(a)

5

## To perform the Binary NOT operation use the formula -(n+1)

## Condition operations
- If statement
- If-else statement
- IF-else ladder
- nested if

### in python there is no switch statement. Instead from python 3.10 we use match-case statement

## Looping statements

- for
- while
- nested-for
- nested-while
## Jump Statements
- Continue
- Break
- goto
-

## Leap Year Conditions
- Conditions
- if the year divisible by 4 and 100 and 400 then it is a leapyear if not then it is not a leap year

In [21]:
year=int(input())
'''def leap_year(num):
    if num%4==0:
        if num%100==0:
            if num%400==0:
                print("It is a leap year")
            else:
                print("IT is not a leap year")
        else:
            print("It is a leap year")
    else:
        print("It is not a leap year")
leap_year(year)'''


## By using a simple if-else statement

if (year%4==0) and (year%100!=0 or year%400==0):
    print("It is a leap year")
else:
    print("It is not a leap year")

 1600

It is a leap year

In [30]:
line = input()
name, place = line.split(',')
if place in ["college", "block", "floor", "class"]:
    if place == "college":
        print(f"{name} just came to college")
    if place in ["block", "floor", "class"]:
        print(f"{name} is in the block")
        if place in ["floor", "class"]:
            print(f"{name} is in the floor")
            if place == "class":
                print(f"{name} is in the classroom")
            else:
                print(f"{name} is not in the classroom")
        else:
            print(f"{name} is not on the floor")
else:
    print(f"{name}'s location is unknown")

 ravi,block

ravi is in the block
ravi is not on the floor

## Collection datatypes
- list =[]
- tuple=()
- dictionary={}
- set=set()

## List

- list is a collection of different datatypes which were ordered,mutable,indexed and support duplicate values.
- We can create a list by using square brackets-[]
- lists are dynamic

In [63]:
li=[]
print(type(li))
li2=[6,6+7j,9.8,None,True,False,'aits',"Tirupati"]
print(li2)
print()
for i in li2:
    print(i,end="  ")
print()
print(li2[4])   #Calling an object or element present in the list by using the indexing is called Subscribit operator
print()
print(li2[3:6])  # printing the subset of the original list is called list-slicing
print()
print(li2[::-1])

<class 'list'>
[6, (6+7j), 9.8, None, True, False, 'aits', 'Tirupati']

6  (6+7j)  9.8  None  True  False  aits  Tirupati
True

[None, True, False]

['Tirupati', 'aits', False, True, None, 9.8, (6+7j), 6]

## List in-built functions
- False values in python
  - in integer ==> 0
  - in float ==> 0.0
  - in string ==> empty string
  - in boolean ==> False
  - in list ==> empty list[]
  - in dictionary ==> empty dictionary
  - in tuple ==> empty tuple
  - in set ==> empty set()
- len()  ===> Used to find the length of the list
- max()  ===> Used to find the maximum element in the list and return that element(Applicable only when all the elements in the list are homogeneous) in strings it works by using lexicographic order
- min()  ===> Used to find the minimum element in the list and return that element
- sorted() ===> Gives the list in sorted order ie in ascending or descending order and it sorts temporarly
- sum() ===> Works on numeric datatype only ie(numbers,complex) and adds all the elements in the list
- list() ===> Used to create a new list
- any() ===> Return boolean value True for atleast 1 true value
- all() ===> Return boolean value but check for all true values

In [7]:
# example program for lists

l1=[11,2,3,55,44,6]
print(len(l1))
print(max(l1))
print(min(l1))
print(sum(l1))
print("Sorted order",sorted(l1))
print("Reversed sorted order",sorted(l1,reverse=True))

6
55
2
121
Sorted order [2, 3, 6, 11, 44, 55]
Reversed sorted order [55, 44, 11, 6, 3, 2]

##  Operators on list

- Addition operator (+) or String addition
  - It is used to add two lists into a single list
  - Example: [1,2,3]+[4,5,6] then the result is [1,2,3,4,5,6]
- Star operator (*) or String repetition
  - This is used to list multiplication
  - Example: let [1,2,3] be the list then [1,2,3]*3 would be [1,2,3,1,2,3,1,2,3]
- Relational operator(<,>,<=,>=,!=)
  - Used to define the relation between the two lists
  - Example: if a=[1,2,3] and b=[4,5,6] then a<b return false
  - The result will be obtained for the relational operators are by checking the elements in the list and applying the relational condition for them
- Membership operator
  - Used to check whether the given element is present in the list or not
  - Example: let a=[1,2,3,4] the statement print(5 in a) return False because element 5 is not present in the list

## List Methods

- append() ===> Used to insert the elements at the end of the list
- extend() ===> Used to add two lists
- insert() ===> Used to add or insert the elements at the specified index position
- index() ===> Used to print the index position of the given specified element it returns false if the element is not present in the list
- count() ==> Used to count the no.of occurances of the specified element in the list
- remove() ===> REmoves the specified element in the list
- pop() ===> removes the element at the specified index. If the index position is not specified then it removes the last element in the list. If the index position is greater than the length of the list then returns error 
- clear() ===> Clears a list and returns empty list
- sort() ===> Sorts the list either in ascending or descending order
- reverse() ===> reverse the original list

In [119]:
##Examples

a=[1,2,3,4,5]
b=[6,7,8,9]
a.append(6)
print("Appending the element in the list",a) #a.append(6)
a.extend(b)
print("Extending the element in the list",a) #a.extend(b)
a.insert(1,0)
print("Inserting element",a) #a.insert(1,0)
print("Finding the index position of the element in the list",a.index(9))  #a.index(9)
print("Counting the no.of occurances of the element in the list",a.count(6))  #a.count(6)
a.remove(5)
print("Removing the element in the list",a)  #a.remove(5)
print("Removing the element at the specfied index position:",a.pop(0))
b.clear()
print("Clearing the elements in the list:",b)  #b.clear()
c=[84,6,9,3,7,1,2]
c.sort()
print("Sorting the element in the list:",c)  #c.sort()
a.reverse()
print("Reversing the elements in the list:",a)  #a.reverse()

Appending the element in the list [1, 2, 3, 4, 5, 6]
Extending the element in the list [1, 2, 3, 4, 5, 6, 6, 7, 8, 9]
Inserting element [1, 0, 2, 3, 4, 5, 6, 6, 7, 8, 9]
Finding the index position of the element in the list 10
Counting the no.of occurances of the element in the list 2
Removing the element in the list [1, 0, 2, 3, 4, 6, 6, 7, 8, 9]
Removing the element at the specfied index position: 1
Clearing the elements in the list: []
Sorting the element in the list: [1, 2, 3, 6, 7, 9, 84]
Reversing the elements in the list: [9, 8, 7, 6, 6, 4, 3, 2, 0]

In [52]:
n=int(input())  #no.of houses
c=int(input())  #no.of cats
u=int(input())  #no.of units of food consumed by each cat
arr=list(map(int,input().split(" ")))
def cats_consumed(n,c,u,arr):
    if n==0:
        return -1
    required_food=c*u
    food_count=0
    for i in range(n):
        food_count+=arr[i]
        if food_count>=required_food:
            return i+1
    if food_count<required_food:
        return -1
cats_consumed(n,c,u,arr)

 5
 5
 2
 1 2 3 6 10

4

In [66]:
# Finding the missing numbers in the given number
n=int(input())
def missing_number(n):
    num=str(n)
    missing=[]
    for i in range(10):
        if str(i) not in num:
            missing.append(i)
    return missing
missing_number(n)

 25361

[0, 4, 7, 8, 9]

In [74]:
# ANother missing program logic
num=int(input())
def missing(num):
    li=[False]*10
    while num:
        li[num%10]=True
        num=num//10
    return li
missing(num)

 235

[False, False, True, True, False, True, False, False, False, False]

In [82]:
a=list(map(int,input().split(" ")))
sq=[]
for i in a:
    sq.append(i*i)
print(sq)

 1 2 3 4 5

[1, 4, 9, 16, 25]

## List Comprehension
 Syntax
- [expression for variable in sequence/iterable if condition]

In [85]:
sq=[i*i for i in range(1,6)]
print(sq)

[1, 4, 9, 16, 25]

In [93]:
evensq=[i*i for i in range(1,11) if i%2==0]
print(evensq)
# the list which contains the squares of numbers which are divisible by 3 and 2
l1=[i*i for i in range(0,16) if i%2==0 if i%3==0]
print(l1)
# The list replaced by "even" if it is a even number and "odd" if it is an odd number
l2=["even" if i%2==0 else "odd" for i in range(1,11)]
print(l2)

[4, 16, 36, 64, 100]
[0, 36, 144]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [97]:
n=int(input())
print(["Fizz" if i%n==0 else i for i in range(1,16)])

 3

[1, 2, 'Fizz', 4, 5, 'Fizz', 7, 8, 'Fizz', 10, 11, 'Fizz', 13, 14, 'Fizz']